<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" th:href="@{/css/vendor/bootstrap.min.css}" />

    <title>AddRoleToUser</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"></a>
        </div>
    </div>
</nav>
<br>
<br>
<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2><span class="text-success" th:utext="${successMessage}"></span></h2>
            <h1>Add Role To User</h1>
            <form th:action="@{/addRoleToUser}" method="post">
                <div class="form-group">
                    <label for="user">User</label>:
                    <select>
                        <option  th:value="${null}">
                            ---- Select the user-----
                        </option>
                        <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}" name="username"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="role">Role</label>:
                    <select>
                        <option  th:value="${null}">
                            ---- Select the role -----
                        </option>
                        <option th:each="role : ${roles}" th:value="${role.role}" th:text="${role.role}" name="role"></option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" class="form-control btn btn-primary btn-block" value="Save" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>